<?xml version="1.0" encoding="UTF-8"?>
<mdmiConfig>
   <threadPoolSize>3</threadPoolSize>
   <logInfo logLevel="INFO" echoToConsole="true" logThreadName="false">
      <logFolder>./logs</logFolder>
   </logInfo>
   <mapEntry>
      <mapName>MGA</mapName>
      <mapFileName>../test/ABTest/MA.xmi</mapFileName>
      <mapBuilderClassName>org.openhealthtools.mdht.mdmi.model.xmi.direct.reader.MapBuilderXMIDirect</mapBuilderClassName>
   </mapEntry>
   <mapEntry>
      <mapName>MGB</mapName>
      <mapFileName>../test/ABTest/MB.xmi</mapFileName>
      <mapBuilderClassName>org.openhealthtools.mdht.mdmi.model.xmi.direct.reader.MapBuilderXMIDirect</mapBuilderClassName>
   </mapEntry>
</mdmiConfig>
