<?xml version="1.0" encoding="UTF-8"?>
<mdmiConfig>
   <threadPoolSize>3</threadPoolSize>
   <logInfo logLevel="INFO" echoToConsole="true" logThreadName="false">
      <logFolder>./logs</logFolder>
   </logInfo>
   <mapEntry>
      <mapName>MGA</mapName>
      <mapFileName>../test/ABTest/MA.xmi</mapFileName>
      <mapBuilderClassName>org.openhealthtools.mdht.mdmi.model.xmi.direct.reader.MapBuilderXMIDirect</mapBuilderClassName>
   </mapEntry>
   <mapEntry>
      <mapName>MGB</mapName>
      <mapFileName>../test/ABTest/MB.xmi</mapFileName>
      <mapBuilderClassName>org.openhealthtools.mdht.mdmi.model.xmi.direct.reader.MapBuilderXMIDirect</mapBuilderClassName>
   </mapEntry>
   <mapEntry>
      <mapName>MGC</mapName>
      <mapFileName>../test/ABTest/MC.xmi</mapFileName>
      <mapBuilderClassName>org.openhealthtools.mdht.mdmi.model.xmi.direct.reader.MapBuilderXMIDirect</mapBuilderClassName>
      <synSvcJarName>../bin/MdmiPlugins.jar</synSvcJarName>
      <synSvcClassName>org.openhealthtools.mdht.mdmiplugins.parsers.HL7Parser</synSvcClassName>
   </mapEntry>
   <mapEntry>
      <mapName>MGX</mapName>
      <mapFileName>../test/ABTest/MX.xmi</mapFileName>
      <mapBuilderClassName>org.openhealthtools.mdht.mdmi.model.xmi.direct.reader.MapBuilderXMIDirect</mapBuilderClassName>
   </mapEntry>
   <mapEntry>
      <mapName>MGY</mapName>
      <mapFileName>../test/ABTest/MY.xmi</mapFileName>
      <mapBuilderClassName>org.openhealthtools.mdht.mdmi.model.xmi.direct.reader.MapBuilderXMIDirect</mapBuilderClassName>
   </mapEntry>
   <externalResolver providerName="XYResolver">
      <jarFileName>../bin/MdmiPlugins.jar</jarFileName>
      <className>org.openhealthtools.mdht.mdmiplugins.resolvers.XYResolver</className>
   </externalResolver>
</mdmiConfig>
